@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Fraunces:wght@800&family=Poppins:wght@400;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background:  #f2ebe3;
    font-size: 16px;
    font-family: 'Fraunces', serif;
    overflow: hidden;
    height: 100vh;
}

.text{
    display: grid;
    grid-template-columns: 300px 300px;
    margin: 100px 0;
    justify-content: center;
}

.right-side{
    display: grid;
    align-content: center;
}

.img{
    display: grid;
    width: 300px;
    height: 420px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 50px;
}

.left--side{
    margin-top: 50px;
    background-color: #fff;
    display: grid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
    width: 300px;
}

.text--1{
    text-transform: uppercase;
    opacity: 0.7;
    display: grid;
    padding: 0.2rem;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:  'Poppins', serif;
}

.text--4{
    display: grid;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.1;  
}

.text--3{
    display: grid;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Poppins', serif;
}

.price--tag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.small--text{
    font-size: 10px;
    padding: 10px;
    opacity: 0.5;
    justify-self: start;
}
.text--2{
    color: #477868;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0;
}

.btn--text{
    display: grid;
    background-color:#477868;
    color: #fff;
    height: 50px;
    place-content: center;
    border-radius: 5px;
    padding: 0.2rem;  
    transition: background-color ease-in-out 0.35s; 
    margin-bottom: 10px;
}

.btn--text:hover{
    background-color: rgb(29, 66, 53);
}

.end{
   text-align: center;
}

@media (max-width:768px){
    .text{
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px 0;
        justify-content: center;
    }
}